<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" width=device-width, initial-scale= 1.0">
    <title>Books</title>
</head>

<body>
    <h1>Books</h1>
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <a th:href="@{/deletebook/{id}(id=${book.id})}" href="#">Delete</a>
                </td>
                <td>
                    <a th:href="@{/editbook/{id}(id=${book.id})}" href="#">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addbook">Add New Book</a>
</body>

</html>