<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
</head>

<body>
<h1>Edit Book</h1>
<form action="#" th:action="@{/editbook/{id}(id=${book.id})}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="title">Title</label>
    <input type="text" id="title" th:field="*{title}" placeholder="Title" required> <br>

    <label for="author">Author</label>
    <input type="text" id="author" th:field="*{author}" placeholder="Author" required> <br>

    <label for="publicationYear">Publication Year</label>
    <input type="text" id="publicationYear" th:field="*{publicationYear}" placeholder="Publication Year" required> <br>

    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" th:field="*{isbn}" placeholder="ISBN" required> <br>

    <label for="price">Price</label>
    <input type="text" id="price" th:field="*{price}" placeholder="Price" required> <br>

    <label for="category">Category</label>
    <select id="category" th:field="*{category}" required>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select> <br>

    <button type="submit">Save</button>
</form>
</body>

</html>